.player {
    position: relative;
}
.player-enter {
    transition: 1s ease all;
}
.player-enter-active {
    transition: 1s ease all;
}
.player-exit {
    transition: 1s ease all;
}
.player-exit-active {
    transition: 1s ease all;
}